* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
} 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');





/* main */

main{
background-color: #6f746ca4;
background-color:rgba(199, 187, 169, 0.295);

/* border-top: 2px solid goldenrod; */
border-bottom: 1px solid  goldenrod;

}
                                                                                                                                            
/* fim do cabeçalho */


/* INÍCIO VENUE */


.section-venue{
  display: flex;
  justify-content: space-around;
  }
  
  
  .venue h4{
  color: rgb(62, 106, 108);
  font-size: 24px;
  text-decoration: dotted;
  padding-bottom: 10px;
  
  }
  
  .venue a{
    text-decoration:dashed;
    color: rgb(19, 187, 165);
    margin-top: 30px;
  
  }






/* footer */

.wrapper {

display: flex;
flex-direction: column;
min-height: 100vh;
}

.wrapper > div:last-child {
flex-grow: 1;
}

.contain-footer {

background-image: url(/images/header.jpg);
background-position: left;
font-family:'Times New Roman', Times, serif;
font-size: 16px;
height: 15vh;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 5vh;
padding-right: 5vh;
width: 100%;
bottom: 0;
margin-top: auto;
}

.contain-footer ul {
display: flex;
list-style: none;
gap: 12px;
}

.footer-right a{
color: white;
text-decoration: none;
}

.footer-right a:hover {
color: #f1c40f;
}

.footer-right a:active {
background-color: #f1c40f;
color: #333;
} 

.contain-footer p{
color: white;
font-size: 16px;
color: #f1c40f;
font-family:'Times New Roman', Times, serif;


}
